@{
    Layout = "~/Areas/School/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "ResetPassword";
}

<div class="body body-s">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "sky-form" }))
    {

        <header>Reset Password</header>

        <div id="pnlSuccess" style="display: none">
            <fieldset>
                <section>
                    <span id="ltrSuccess" />
                </section>
            </fieldset>
            <footer>
                @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "button button-login", style = "width: 85%; text-align: center;" })
            </footer>
        </div>

        <div id="upReset">
            <fieldset>

                <section>
                    <div id="error_validation" class="address-box posFixed" style="display: none; color: red;"></div>
                </section>

                <section>
                    <label class="input">
                        <input type="password" id="txtCurrentPassword" placeholder="Temporary/Current Password">
                        <b class="tooltip  tooltip-bottom-right">Please Enter Temporary/Current Password</b>
                    </label>
                </section>

                <section>
                    <label class="input">
                        <input type="password" id="txtNewPassword" placeholder="New Password">
                        <b class="tooltip tooltip-bottom-right">Please Enter New Password</b>
                    </label>
                </section>

                <section>
                    <label class="input">
                        <input type="password" id="txtConfirmPassword" placeholder="Confirm Password">
                        <b class="tooltip tooltip-bottom-right">Please Enter Confirm Password</b>
                    </label>
                </section>

            </fieldset>

            <footer>
                <input id="btnReset" style="width: 100%" class="button" value="Submit" type="button" />
                @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "button button-login", style = "width: 85%; text-align: center;" })
            </footer>
        </div>

    }
</div>

<script type="text/javascript">

    function checkfrm() {

        $('#error_validation').text('');
        var error = '';
        error += ValidateTextbox('<span class="notok"></span> @ErrorMessage.CurrentPassword<br/>', '#txtCurrentPassword', $('#txtCurrentPassword').val());
        error += ValidateTextbox('<span class="notok"></span> @ErrorMessage.NewPassword<br/>', '#txtNewPassword', $('#txtNewPassword').val());
        error += ValidateTextbox('<span class="notok"></span> @ErrorMessage.ConfirmPassword<br/>', '#txtConfirmPassword', $('#txtConfirmPassword').val());

        if ($("#txtNewPassword").val() !== $("#txtConfirmPassword").val()) {
            error += 'Password and Confirm Password did not match.'
        }

        if (error != '') {
            $('#error_validation').show();
            $('#btnRegister').attr('type', 'button');
            $(document).scrollTop(0);

            $('#error_validation').html(error);
            return false;
        }
        else {
            $('#error_validation').hide();
            $('#btnRegister').attr('type', 'submit');
            return true;
        }
    }

    $(document).ready(function () {

        if (sessionStorage.IsPasswordTemporary) {
            setTimeout(function () {
                $('#error_validation').show();
                $('#error_validation').html("<span class='notok'></span> Please Create new password and login again.<br/>");
            }, 50);
        }

        $("#btnReset").click(function (event) {

            event.preventDefault();

            if (checkfrm()) {

                ShowLoader();

                $.ajax({
                    url: "http://ws.camtc.inlumon.com/api/User/ChangePassword/" + sessionStorage.Key, //ToDo: Send Key to the API
                    type: "POST",
                    data: JSON.stringify({
                        UserId: sessionStorage.UserId,//This should return from the Registration Page. Needs discussion suppose a user registers i save the UserId but he close the browser and try to re login again then this UserId = 0
                        OldPassword: $("#txtCurrentPassword").val(),
                        NewPassword: $("#txtNewPassword").val(),
                        ConfirmPassword: $("#txtConfirmPassword").val()
                    }),

                    contentType: 'application/json; charset=utf-8',

                    success: function (data) {
                        if (data.Status) {
                            $('#upReset').hide();
                            $('#pnlSuccess').show();
                            $('#ltrSuccess').text('Password Reset has been successful. You need to login using your new password.');

                            sessionStorage.IsPasswordTemporary = false;
                        }
                        else {
                            $('#error_validation').show();
                            $('#error_validation').html("<span class='notok'></span>" + data.Message + "<br/>");
                        }
                    },
                    error: function () {
                        $('#error_validation').show();
                        $('#error_validation').html("<span class='notok'></span> Oops! Something went wrong.<br/>");
                    },
                    complete: function () {
                        HideLoader();
                    }
                });

            }

        });

    });

</script>

