@{
    Layout = "~/Areas/School/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SchoolApplication";
}
<script type="text/javascript">
    var key = window.sessionStorage.getItem('School_Key');
</script>
@*<script src="~/Content/Theme1/js/jquery-1.8.0.min.js"></script>*@
<script type="text/javascript" src="~/AppContents/Errormessages/"></script>
<link href="~/Content/Theme1/jquery-ui/css/start/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link href="~/Content/Public/css/style.css" rel="stylesheet" />

<script src="~/Content/Public/js/ebsoft-loader.js"></script>

<script src="~/Content/AngularJS/angular.js" type="text/javascript"></script>
<script src="~/Content/AngularJS/Sanitize.js"></script>
<script src="~/Content/AngularJS/ag-grid.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Areas/School/AppJS/Directive/CheckBoxSelection.js"></script>
<script src="~/Content/AngularJS/angular-underscore.js"></script>
<script src="~/Areas/BackOffice/AppJS/app.js"></script>
<script src="~/Areas/School/AppJS/Services/StaffService.js"></script>
<script src="~/Areas/School/AppJS/Services/CurriculumService.js"></script>
@*<script src="~/Areas/BackOffice/AppJS/Controllers/MainController.js" type="text/javascript"></script>*@
<script src="~/Areas/BackOffice/AppJS/Controllers/SchoolInfoController.js" type="text/javascript"></script>
<script src="~/Areas/BackOffice/AppJS/Controllers/EligibilityController.js" type="text/javascript"></script>
<script src="~/Areas/School/AppJS/Services/AboutService.js"></script>
<script src="~/Areas/School/AppJS/Controllers/AboutController.js"></script>
<script src="~/Areas/School/AppJS/Controllers/CourseCatalogController.js"></script>
<script src="~/Areas/School/AppJS/Controllers/CurriculumController.js"></script>
<script src="~/Areas/School/AppJS/Controllers/EnrollmentController.js"></script>
<script src="~/Areas/School/AppJS/Controllers/InstructionsController.js"></script>
<script src="~/Areas/School/AppJS/Controllers/StaffController.js"></script>
<script src="~/Areas/BackOffice/AppJS/Services/SchoolInfoServices.js" type="text/javascript"></script>
<script src="~/Areas/School/AppJS/Controllers/TranscriptController.js"></script>

<script src="~/Areas/School/AppJS/Controllers/SchoolController.js"></script>
<script src="~/Areas/BackOffice/AppJS/Services/EligibiltiyService.js" type="text/javascript"></script>
<link href="~/Content/Public/css/NewButton.css" rel="stylesheet" type="text/css" />
<script src="~/Content/Public/js/jquery.mask.min.js" type="text/javascript"></script>
@*<script src="../../Validation/FormValidation.js" type="text/javascript"></script>*@
<link href="~/Content/Theme1/css/Individual.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/IndividualDetails.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/OnlineApplication.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/searchPanel.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/button.css" rel="stylesheet" />
<link href="~/Content/Theme1/css/NewButton.css" rel="stylesheet" />
<link href="~/Content/Theme1/css/style.css" rel="stylesheet" />

<div data-ng-app="LAPP" ng-cloak>
    <div style="overflow: hidden; position: relative;">
        <div class="header">
            <h4 style="text-align: left; margin: 0px !important;">
                <span>
                    <a href="@Url.Action("Login", "Account")" id="schooollogoff">← Log off</a>
                </span>
            </h4>
            <p style="text-align: center; vertical-align: middle; text-indent: 119px; margin-top: 10px; padding-bottom: 10px;">
                <span class="header-span">Application for Massage School Approval</span>
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="divmain">
        @Html.Partial("~/Areas/School/Views/Home/_SchoolApp_Tab.cshtml")
        @*@Html.Partial("_SchoolApp_Instructions")*@
        <div class="mainrightpanel">
            <div class="span-180 span-13 home-sidebar append-1">
            </div>
            <div class="primary-column span-24" style="width: 600px;">
                @Html.Partial("~/Areas/BackOffice/Views/Home/_SchoolInfo.cshtml")
                @Html.Partial("~/Areas/BackOffice/Views/Home/_Eligibility.cshtml")
                @Html.Partial("_SchoolApp_Instructions")
                @Html.Partial("_SchoolApp_AboutTheSchool")
                @Html.Partial("_SchoolApp_Transcript")
                @Html.Partial("_SchoolApp_EnrollmentAgreement")
                @Html.Partial("_SchoolApp_CourseCatalog")
                @Html.Partial("_SchoolApp_Curriculum")
                @Html.Partial("_SchoolApp_Staff")

            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/elementExt.js"></script>
    <script src="~/Scripts/DocumentManager/Uploader.js"></script>
    <script src="~/Scripts/DocumentManager/DocumentUploader.js"></script>
    <script src="~/Scripts/DocumentManager/DocumentManager.js"></script>
    <script>


        $(document).ready(function () {


            window.DefaultDocumentManager = new DocumentManager({
                ApiBaseUrl: "http://ws.camtc.inlumon.com/",
                ApplicationId: sessionStorage.School_ApplicationId,
                ProviderId: sessionStorage.School_ProviderId,
                ApiSaveEndpoint: "api/Provider/ProviderDocumentSave/",
                ApiDeleteEndpoint: "api/Provider/ProviderDocumentDelete/",
                ApiGetDocumentsEndpoint: "api/Provider/ProviderGetProviderDocumentByProviderIdAndDocumentId/",
                Key: sessionStorage.School_Key,
                UploadUrl: "/School/Certification/Upload"
            })


        });


        $('#schooollogoff').click(function () {

            var i = sessionStorage.length;
            while (i--) {
                var key = sessionStorage.key(i);
                if (/foo/.test(key)) {
                    sessionStorage.removeItem(key);
                }
            }


        });

    </script>
}
<style>
    #mask1 {
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        z-index: 99990;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
        filter: alpha(opacity=30);
    }

    .loader2 {
        position: fixed;
        width: 100px;
        height: 40px;
        background: transparent;
        z-index: 99999;
        top: 45%;
        left: 45%;
        color: rgb(28, 112, 179);
        border-radius: 8px;
        overflow: hidden;
        padding: 10px 10px;
        background: #fff;
        text-align: center;
        font-size: 11px;
        cursor: wait;
        border: 1px solid rgb(189, 189, 189);
    }

    .noscriptmsg {
        border: 2px solid #eee;
        width: 400px;
        height: 30px;
        font-size: 16px;
        font-weight: bold;
        position: fixed;
        top: 50%;
        left: 34%;
        background: #fff;
        color: red;
        padding: 15px;
        overflow: hidden;
        z-index: 9999;
    }
</style>
