@model IEnumerable<CAMTC.Areas.BackOffice.Models.Administration.Configuration.DocumentViewModel>
                      <div style="margin-top: 3px;">
                          <table class="index brdr radius pdng2 grid" cellspacing="0" cellpadding="5" id="gvDocumentType" style="color:#333333;width:100%;border-collapse:collapse;">
                              <tr class="bordrbtm gridrow">
                                  <th>
                                      Transaction Type
                                  </th>
                                  <th>
                                      Page Name
                                  </th>
                                  <th>
                                      Sub Page Name
                                  </th>
                                  <th>
                                      Section Name
                                  </th>
                                  <th>
                                      Document Name
                                  </th>
                                  <th>
                                      Document Type
                                  </th>
                                  <th>
                                      Max Size
                                  </th>
                                  <th>
                                      End Date
                                  </th>
                                  <th>Action</th>
                              </tr>
                            @if(Model!=null)
                            {      
                              foreach (var item in Model)
                              {
                              <tr class="bordrbtm gridrow">
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.MasterTransactionName)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.PageModuleName)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.PageModuleTabSubModuleName)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.PageTabSectionName)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.DocumentName)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.DocumentTypeIdName)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelItem => item.MaxSize)
                                  </td>
                                  <td style="width:20%;">
                                      @Html.DisplayFor(modelitem => item.EndDate)
                                  </td>
                                  @*<td style="width: 20%">@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("MMM-dd-yyyy") : "NA")</td>*@

                                  <td style="width:20%;">
                                      @if(item.IsEditable == 1)
                                      { 
                                      <a href="@Url.Action("Edit", "Controller", new { teamId = item.DocumentMasterId })" title="edit">
                                          <img src="@Url.Content("~/images/edit.png")" />
                                      </a>
                                      <a href="@Url.Action("Edit", "Controller", new { teamId = item.DocumentMasterId })" title="delete">
                                          <img src="@Url.Content("~/images/delete.png")" />
                                      </a>
                                      }
                                  </td>
                              </tr>
                              }
                            }
                          </table>
</div>

